/* style navbar*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  background-color: rgb(255, 255, 255);
}

.nav-link.active {
  color: #ffa600 !important ;
  font-weight: 500;
}
.img-fluid {
  height: 100vh;
  object-fit: cover;
  object-position: 55% -25%;
  background-repeat: no-repeat;
  /* border: 2px solid #285cf9; */
  width: 100%;
  padding: 0;
  margin: 0;
  border-radius: 3px;
}

.nav-link.active {
  color: #ddff00;
}

.btn-custom1 {
  background-color: #008cff;
  color: #fff;
  font-weight: 500;
  font-size: 1.2rem;
}
.btn-custom1:hover {
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.87);
  color: #707070;
}

.fon-cutom {
  color: rgb(255, 255, 255);
  font-weight: 400;
  text-shadow: 0 0 5px #323232;
}

h3 {
  color: #e7e7e7;
  text-shadow: 0 0 5px #323232;
}

.iconrumah {
  font-size: 2.5rem;
  position: absolute;
  top: 0rem;
  margin-left: 1.5rem;
  color: #ffffff;
}

.svg {
  color: #343434;
}

.watsap1 img {
  width: 190px;
  margin-left: 60rem;
  opacity: 0.8;
  transition: 0.1s ease-in-out;
}
.watsap1 img:hover {
  opacity: 1;
  width: 200px;
  transition: 0.1s ease-in-out;
}
/* style navbar*/

/* profil */

#profil {
  height: 100vh;
  padding-top: 5rem;
  background-color: #f3f3f3;
  border-bottom: 1px solid #ddff00;
}
video {
  border-radius: 10px;
}

/* about */
#about {
  height: 150vh;
  padding-top: 5rem;
}

.polaroid {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.img-thumbnail {
}
.img-thumbnail:hover {
  background-color: #00d0ff8d;
  transition: 0.3s ease-in-out;
}

.judul {
  position: absolute;
  /* background-color: #ddff00; */
  width: 50px;
  margin-top: 11rem;
  margin-left: 3rem;
}
.judul-1 {
  position: absolute;
  /* background-color: #ddff00; */
  width: 90px;
  margin-top: 9rem;
  margin-left: 2.8rem;
}

/* form */
#form {
  height: 100vh;
  padding-top: 6rem;
}

.card-custom {
  border: 1px solid #373737;
  width: 40%;
  border-radius: 5px;
}

/* social */
#social {
  min-height: 30vh;
  background-color: #e0e0e0;
  border-bottom: 1px solid #ddff00;
}
.social {
  display: flex;
  justify-self: center;
  color: #6f6f6f;
}
